#pragma once
#include <string>

#define EN_FOLDER "en/"
#define EN_EN_FOLDER "en/"
#define DE_FOLDER "de/"
#define EO_FOLDER "eo/"

#include "Language.h"
Language* getLanguageFromStringId(char* Id);
Language* getLanguageFromStringID(std::string ID);
